{% extends 'layout.html' %}

{% block title %}
    Exponentes
{% endblock %}

{% block body%}
    <section>
        <h2>Exponentes del Rock Argentino</h2>
        <p>Entre los más destacados exponentes del rock argentino encontramos a figuras como Charly García, Luis Alberto Spinetta, y Gustavo Cerati, cuyas carreras dejaron una huella imborrable en la música y la cultura del país.</p>
        <img src="exponentes-rock.jpg" alt="Exponentes del Rock Argentino" class="img-fluid">
    </section>
{% endblock %}