{% extends 'layout.html' %}

{% block title %}
    Inicio
{% endblock %}

{% block body%}
    <section>
        <h2>Historia del Rock Argentino</h2>
        <p>El rock argentino comenzó a tomar forma en la década de 1960, siendo uno de los primeros en desarrollarse fuera del Reino Unido y Estados Unidos. Los primeros grupos emergieron influenciados por el rock and roll y el pop de esos países, pero pronto comenzaron a incorporar elementos culturales propios.</p>
        <img src="historia-rock.jpg" alt="Historia del Rock Argentino" class="img-fluid">
    </section>
{% endblock %}

